<div class="card col-sm-10 col-md-10 mx-auto">
  <div class="card-body">
    
    <div class="card-title form-group-row">
      <h3>Sign In</h3>
    </div>


    <div class="form-group">

      <script src="{{url_for('static', filename='js/profile_extractor_custom.js')}}" language="Javascript" type="text/javascript"></script>
      
      <form action="/" method="POST">
               
        <div id="dynamicInput" class="form-group row col-xs-12 col-md-6">
          <label class="form-control-label">Ticker 1</label>
          <input class="form-control form-control-alternative" type="text" name="myInputs[]">
        </div>

        <div class="col-xs-12 col-md-6">
          <input type="button" class="btn btn-primary" value="Add stock ticker" onClick="addInput('dynamicInput');">
        </div>
      
      </form>
      

    </div>


  <p>New User? <a href="{{ url_for('auth.register') }}">Sign up now!</a></p>

  </div>
</div>


