{% extends "base.html" %}
{% set active_page = "profile_extractor" %}
{% block content %}

<div class="nav-wrapper">
    <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
        <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0 {% if not basic %}active{% endif %}" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true">Custom</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0 {% if basic %}active{% endif %}" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false">Basic</a>
        </li>
   
    </ul>
</div>

<div class="tab-content" id="myTabContent">
  
  <div class="tab-pane fade show {% if not basic %}active{% endif %}" id="tab-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">

    {% include "profile_extractor/profile_extractor_custom.html" %}

  </div>

  <div class="tab-pane fade show {% if basic %}active{% endif %}" id="tab-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
    
    {% include "profile_extractor/profile_extractor_basic.html" %}

  </div>

</div>




<script type="text/javascript">
  
  OPTIMIZER_ENDPOINT = "{{ url_for('api.optimize') }}"
  GET_JOB_ENDPOINT = "{{ url_for('api.check_job_status') }}"


</script>

<script src="{{url_for('static', filename='js/wnumb.js') }}"></script>
<script src="{{url_for('static', filename='js/nouislider.min.js') }}"></script>
<script src="{{url_for('static', filename='js/chart.bundle.min.js') }} "></script>
<script src="{{url_for('static', filename='js/argon.min.js') }}"></script>
<script src="{{url_for('static', filename='js/busyload.min.js') }}"></script>

<script src="{{url_for('static', filename='js/utils.js') }}"></script>
<script src="{{url_for('static', filename='js/profile_extractor.js') }} "></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/lib/busyload.min.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile_extractor.css') }}"/>

{% endblock %}

