
<nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-gradient-primary">


    <div class="container fluid col-sm-12">

        <a class="navbar-brand text-lg text-secondary" href="{{ url_for('index') }}">QuantInvest</a>
       

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-default">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="{{ url_for('index') }}">QuantInvest</a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>


            
            <ul class="navbar-nav col-md-12 align-items-center">

                {% if current_user.is_anonymous %}

                  
                  <li class="nav-item">
                    <a class="nav-link nav-link-icon {% if active_page == url_for('login') %}active{% endif %}" href=" {{ url_for('login') }}">
                        <span class="nav-link-inner--text">Login</span>
                    </a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link nav-link-icon {% if active_page == url_for('register') %}active{% endif %}" href=" {{ url_for('register') }}">
                        <span class="nav-link-inner--text">SignUp</span>
                    </a>
                  </li>
                  
                {% else %}


                  <li class="nav-item">
                    <a class="nav-link nav-link-icon {% if active_page == url_for('index') %}active{% endif %}" href=" {{ url_for('index') }}">
                        <span class="nav-link-inner--text">Dashboard</span>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link nav-link-icon" href=" {{ url_for('logout') }}">
                        <span class="nav-link-inner--text">Logout</span>
                    </a>
                  </li>

                  <li class="nav-item d-lg-none">
                    <a class="nav-link nav-link-icon {% if active_page == url_for('profile') %}active{% endif %}" href="url_for('profile')">
                        <span class="nav-link-inner--text">{{ current_user.username }}</span>
                    </a>
                  </li>

                  <li class="nav-item dropdown mt-auto mb-auto ml-lg-auto d-none d-lg-block">
                    <a class="media align-items-center nav-link nav-link-icon {% if active_page == url_for('profile') %}active{% endif %}" href="{{ url_for('profile') }} ">
                      <span class="avatar avatar-sm rounded-circle">
                        <i class="fas fa-user"></i>
                      </span>
                      <div class="media-body ml-2 d-lg-block">
                        <span class="nav-link-inner--text">{{ current_user.username }}</span>
                      </div>
                    </a>
                  </li>

                {% endif %}


            </ul>

        </div>
    </div>
</nav>