<!DOCTYPE html>
<html>



{% set navigation_list = [
	{ 
		'name':'Home',
		'ref': 'index',
		'link':'/index'
	}
]
	
%}

<head>
	{% if title %}
	<title>{{title}}</title>
	{% else %}
	<title>Mega Site</title>
	{% endif %}

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="/index">Mega</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">


	    {% for item in navigation_list %}

	    	{% if active_page == item.ref %}
			<a class="nav-item nav-link active" href="{{item.link}}">{{item.name}}<span class="sr-only">(current)</span></a>
			{% else %}
			<a class="nav-item nav-link" href="{{item.link}}">{{item.name}}</a>
			{% endif %}

		{% endfor %}

        {% if current_user.is_anonymous %}
	        {% if active_page == url_for('login') %}
				<a class="nav-item nav-link active" href="{{url_for('login')}}">Login<span class="sr-only">(current)</span></a>
			{% else %}
				<a class="nav-item nav-link" href="{{url_for('login')}}">Login</a>
			{% endif %}
        {% else %}
	        {% if active_page == url_for('logout') %}
				<a class="nav-item nav-link active" href="{{url_for('logout')}}">Logout<span class="sr-only">(current)</span></a>
			{% else %}
				<a class="nav-item nav-link" href="{{url_for('logout')}}">Logout</a>
			{% endif %}
        {% endif %}

	    </div>
	  </div>
	</nav>

	{% with messages = get_flashed_messages(with_categories=true) %}
	  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
	  {% if messages %}
	    {% for category, message in messages %}
	      <div class="alert alert-info alert-{{ category }} alert-dismissible" role="alert">
	      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      <!-- <strong>Title</strong> --> {{ message }}
	      </div>
	    {% endfor %}
	  {% endif %}
	{% endwith %}

	

	<div class="container pt-5">

	{% set active_page = active_page|default('index') -%}

	{% block content %}{% endblock %}
	</div>

	<!-- Bootstrap scripts -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>