<!DOCTYPE html>
<html>


<head>

	<title>QuantInvest</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="QuantInvest: An investor's playground.">
	<meta name="author" content="Rami Awar">

	<!-- Fonts -->
  	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

 	<!-- Icons -->
	<link href="{{ url_for('static', filename='css/lib/nucleo/nucleo.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/lib/fontawesome/css/all.min.css') }}" rel="stylesheet">

	<!-- Argon CSS -->
	<link type="text/css" href="{{url_for('static', filename='css/lib/argon.css')}}" rel="stylesheet">


</head>

<body>

<div class="main-content">

	{% include "_argon_navbar.html" %}

	<div class="container pt-2">
	{% with messages = get_flashed_messages(with_categories=true) %}
	  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
	  {% if messages %}
	    {% for category, message in messages %}
			<div class="alert alert-info alert-{{ category }} alert-dismissible fade show" role="alert">
				<span class="alert-inner--text">{{ message }}</span>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
		
	    {% endfor %}
	  {% endif %}
	{% endwith %}
		
	</div>

	{% set active_page = active_page|default('index') -%}

	<div class="container pt-3">
		{% block content %}{% endblock %}
	</div>

</div>


<!-- Bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>