{% extends "base.html" %}
{% set active_page = url_for('landing') %}
{% block content %}

<section class="section pb-0 mt-0 bg-default mb-0 pb-0">

  <div class="container mt--8 mb-8">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <div class="icon icon-shape bg-gradient-primary text-white rounded-circle mb-4">
                  <i class="ni ni-atom"></i>
                </div>
                <h4 class="h3 text-primary">Portfolio Optimization</h4>
                <p class="description mt-3">Our portfolio optimizer includes several customizable optimization constraints, and visualizes backtested portfolio performance.</p>
                
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <div class="icon icon-shape bg-gradient-success text-white rounded-circle mb-4">
                  <i class="ni ni-bulb-61"></i>
                </div>
                <h4 class="h3 text-success">Integrated Stock Explorer</h4>
                <p class="description mt-3">Use our stock explorer to better understand the health of companies by reading company fundamentals and technical data.</p>
                
              </div>
            </div>
          </div>
         
         
        </div>
      </div>
    </div>
  </div>


</section>

<section class="section section-lg section-shaped pt-8 pb-7 bg-gradient-success">
    <div class="container">
            
        <div class="row justify-content-center">
            <div class="d-flex justify-content-lg-center px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                    <i class="ni ni-building text-primary"></i>
                  </div>
                </div>
                <div class="col-lg-10 text-center">
                  <p class="text-white"><strong>Learn</strong> to build stock investment portfolios</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <a class="btn btn-primary btn-lg text-white" href="{{ url_for('auth.register') }}">Sign Up</a>
        </div>

    </div>

</section>







{% endblock %}
