{% extends "base.html" %}
{% set active_page = "index" %}

{% block content %}
    

<div class="row">

  <div class="col-xs-12 col-md-12">
    <div class="card">

      <div class="card-header">
        <h5 class="h3 mb-0">Risk Assessment</h5>
      </div>

      <div class="card-body">

        <div class="form-group">

          <div id='quiz'>
            <div id='list' class="form-check">
              
            </div>
          </div>          

        </div>

        <div class="form-group justify-content-between">

          <div class="d-flex justify-content-between">
            <div class='btn btn-primary mb-3 pr-6 pl-6' id='next'>Next</div>
            <div class='btn btn-primary mb-3 pr-6 pl-6' id='prev'>Prev</div>
          </div>

          <div class='btn btn-primary btn-block mb-3' id='end'>Continue</div>   
          <div class='btn btn-secondary btn-block' id='start'>Start Over</div>   

        </div>
      
      </div>


    </div>
  </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/risk_assesser.js')}}"></script>

{% endblock %}